.design {
  padding-bottom: 70px;

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    margin: 0 15px 34px;
    max-width: 370px;
    width: 100%;
    background-color: #f8f8f8;
    padding: 27px 0 0 36px;
    position: relative;
    min-height: 248px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &__name {
    font-size: 20px;
    color: #191919;
    @extend %dmsans-700;
    max-width: 180px;
    line-height: 1;
    margin-bottom: 15px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__subtitle {
    line-height: 1;
    color: #a3bbc8;
    @extend %dmsans-700;
  }

  &__img {
    position: absolute;
    bottom: 38px;
    right: 0;
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &:hover {
      background-color: rgba(129, 129, 129, 0.3);
    }
  }
  
}