.terms-conditions {
  margin-bottom: 100px;
  &__item {
    margin-bottom: 70px;
  }

  &__title {
    font-size: 24px;
    line-height: 1;
    color: #243f4d;
    @extend %rubik-500;
    margin-bottom: 30px;
  }

  &__list {
    list-style: decimal-leading-zero;
    padding-left: 40px;
  }

  &__text {
    color: #243f4d;
    @extend %rubik-400;
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}